<html>
    <head>
        <title>Backbone.Component: basic test</title>
        <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
        <script src="../../bower_components/underscore/underscore.js"></script>
        <script src="../../bower_components/backbone/backbone.js"></script>
        <script src="../../backbone-component.js"></script>
        <script>
            Example = { };

            Example.Component1 = Backbone.Component.extend(
                {
                    events: {
                        "click a" : "change"
                    } ,

                    template: _.template(
                        "<a href=\"#\">Example component 1</a>"
                    ) ,

                    change: function( evt ) {
                        evt.preventDefault( );
                        this.$( "a" ).text( this.$( "a" ).text( ) + "." );
                    }
                }
            );

            Example.Component2 = Backbone.Component.extend(
                {
                    className: "component-2",

                    tagName: function( ) { return "div"; },

                    id: function( ) { return _.uniqueId( "cmp-2-" ) },

                    initialize: function( ) {
                        $( "#initialize-output" ).append( "+" );
                    } ,

                    remove: function( ) {
                        $( "#remove-output" ).append( "-" );
                    } ,

                    template: _.template(
                        "Example component 2"
                    )
                }
            );

            Example.Component3 = Backbone.Component.extend(
                {
                    selector: "[data-component-3]",

                    initialize: function( ) {
                        $( "#initialize-output" ).append( "*" );
                    } ,

                    remove: function( ) {
                        $( "#remove-output" ).append( "/" );
                    }
                }
            );

            Example.Helper = Backbone.Helper.extend(
                {
                    template: _.template( "<strong>Example helper</strong>" )
                }
            );

            Example.View = Backbone.View.extend(
                {
                    template: _.template(
                        "<p><%= this.insertComponent1( ) %></p>" +
                        "<%= this.insertComponent2( ) %>"        +
                        "<div data-component-3=\"\"></div>"      +
                        "<p><%= this.insertHelper( ) %></p>"
                    ) ,

                    render: function( ) {
                        this.$el.html( this.template( ) );
                    }
                }
            );

            $(
                function( ) {
                    Backbone.Component.initialize( { "namespace" : Example } );

                    var view1 = new Example.View;

                    $( "#render-view-1" ).click(
                        function( ) {
                            view1.setElement( $( "#view-1" ) );
                            view1.render( );
                        }
                    );

                    $( "#remove-view-1" ).click(
                        function( ) {
                            view1.remove( );
                        }
                    );

                    var view2 = new Example.View;

                    $( "#render-view-2" ).click(
                        function( ) {
                            view2.setElement( $( "#view-2" ) );
                            view2.render( );
                        }
                    );

                    $( "#remove-view-2" ).click(
                        function( ) {
                            view2.remove( );
                        }
                    );
                }
            );
        </script>
    </head>
    <body>
      <div id="view-1"></div>
      <div id="view-2"></div>
      <div id="initialize-output"></div>
      <div id="remove-output"></div>
      <a id="render-view-1" href="#">Render view #1</a>
      <a id="render-view-2" href="#">Render view #2</a>
      <a id="remove-view-1" href="#">Remove view #1</a>
      <a id="remove-view-2" href="#">Remove view #2</a>
    </body>
</html>
